<div class="centered-div">

 <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="tab-login" data-mdb-toggle="pill" routerLink="/login" role="tab"
          aria-controls="pills-login" aria-selected="false">Se Connecter</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" routerLink="/register" role="tab"
          aria-controls="pills-register" aria-selected="true">S'inscrire</a>
      </li>
    </ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form>


          <div class="form-outline mb-4">
            <input type="text" id="registerName" class="form-control" [(ngModel)]="patient.nom" [ngModelOptions]="{standalone: true}"/>
            <label class="form-label" for="registerName">Name</label>
          </div>


          <div class="form-outline mb-4">
            <input type="text" id="registerPrenom" class="form-control"[(ngModel)]="patient.prenom" [ngModelOptions]="{standalone: true}" />
            <label class="form-label" for="registerPrenom">Prénom</label>
          </div>


          <div class="form-outline mb-4">
            <input type="email" id="registerEmail" class="form-control" [(ngModel)]="patient.mail" [ngModelOptions]="{standalone: true}"/>
            <label class="form-label" for="registerEmail">Email</label>
          </div>


          <div class="form-outline mb-4">
            <input type="password" id="registerPassword" class="form-control" [(ngModel)]="mdp1" [ngModelOptions]="{standalone: true}" />
            <label class="form-label" for="registerPassword">Password</label>
          </div>


          <div class="form-outline mb-4">
            <input type="password" id="registerRepeatPassword" class="form-control" [(ngModel)]="mdp2" [ngModelOptions]="{standalone: true}"/>
            <label class="form-label" for="registerRepeatPassword">Repeat password</label>
          </div>


          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
              aria-describedby="registerCheckHelpText" />
            <label class="form-check-label" for="registerCheck">
              I have read and agree to the terms
            </label>
          </div>


          <button type="submit" class="btn btn-primary btn-block mb-3" (click)="onSubmit()" >Sign in</button>
        </form>
      </div>
</div>
</div>
