
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">--> 

<div class="page-container">

  <div class="container mt-4 mb-4">
    <div class="row">
        
      <div class="col-md-6">
        <div class="card shadow rounded">
          <div class="card-body">
            <h3 class="mb-3">La dyslexie</h3>
            <p>
                La dyslexie est un trouble d'apprentissage courant qui impacte la lecture, l'orthographe et l'écriture. Les personnes dyslexiques peuvent avoir des difficultés à reconnaître les lettres, à associer les sons aux symboles écrits et à lire avec fluidité. Ce trouble n'est pas lié à l'intelligence. Il est souvent diagnostiqué dès le début de la scolarité. La cause exacte de la dyslexie n'est pas totalement comprise, mais des facteurs génétiques et environnementaux sont impliqués. Une prise en charge adaptée, avec des méthodes pédagogiques spécifiques, peut aider les personnes dyslexiques à améliorer leurs compétences en lecture et en écriture. Avec un soutien approprié, de nombreuses personnes dyslexiques peuvent réussir académiquement et développer leur estime de soi.
             </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow rounded">
          <img src="https://4.bp.blogspot.com/_TRcQCuP2b5A/TGIc0FLna3I/AAAAAAAAK5E/nC_BQxn1vfs/s1600/rearrange+dyslexia+web.jpg" alt="Image" class="card-img-top">
        </div>
      </div>
    </div>
  </div>


  <div class="about-section">
    <h1>A Propos de Nous</h1>
    <p>
        Bienvenue sur DysHelp, une plateforme dédiée à la détection précoce de la dyslexie chez les enfants et les adultes. Notre équipe d'experts se consacre à offrir un soutien personnalisé et des solutions innovantes pour faciliter l'apprentissage et l'inclusion. Rejoignez-nous dans notre mission d'améliorer la vie des personnes touchées par la dyslexie.
    </p>
  </div>
  

  <div class="team">
  <h1 style="text-align:center ">Our Team</h1>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.lUYDeHlbmyAP4esGk1HMbwHaE8?w=268&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.lUYDeHlbmyAP4esGk1HMbwHaE8?w=268&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" >
        <img  src="https://th.bing.com/th/id/OIP.lUYDeHlbmyAP4esGk1HMbwHaE8?w=268&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>