.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    

}
.form-container{
    margin: 30px;
    width: 60%;
    align-self: center;
}
.field input{
height: 40px;
width: 100%;
border-radius: 10px;
border: none;
padding: 16px;
}
select{
height: 40px;
width: 100%;
border-radius: 10px;
border: none;
}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.field{
    margin-right: 10px;
    width: 100%;
}